body {
  background-color: #7E8F99;
}

#top-bar {
  width: 100%;
  height: 16%;
  background-color: #EBEBEB;
}

#current-track-tags {

}

#messages {
  width: 50%;
  height: 75%;
  overflow: scroll;
}

#progress-track {
  position: relative;
  width: 50%;
  height: 5%;
  padding-top: 2%;
}

#progress-track-bar {
  display: block;
  height: 5px;
  width: 100%;
  border: none;
  background-color: #FF0000;
  position:absolute;
  left: 0px;
  padding: 0px;
}

#progress-track-ball {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #0000FF;
  position: absolute;
  left: 0px;

  padding: 0px;
}

