@import url(//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,latin-ext);

body,html {
  background-color: #7E8F99;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Noto Sans', sans-serif;
}

#username-input {
  position: fixed;
  top: 50%;
  left: 50%;
}

#temp-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #707070;
  z-index: 1;
  opacity: 0.5;
}

#top-bar {
  position: relative;
  width: 100%;
  height: 15%;
}

#center-area {
  display: block;
  width: 100%;
  height: 80%;
  background-color: #FFFFFF;
  border: 1px solid #D9D9D9;
}

#bottom-bar {
  width: 100%;
  height: 5%;
}

.top-bottom-bars {
  background-color: #EBEBEB;
  border: 1px solid #D9D9D9;
}

#player-buttons {
  position: absolute;
  width: 50%;
  left: 50%;
  bottom: 0;

  /* make sure you can't accidentally highlight
   * the buttons */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.player-button {
  display: inline-block;
  width: 6%;
}

.player-button-img {
  height: 100%;
  width: 100%;
}

#current-track-tags {
  position: absolute;
}

#file-upload {
  display: none;
}

.top-bar-button {
  position: relative;
  float: right;
  margin-left: auto;
  margin-right: 0%;
  height: 25%;
  width: 10%;
  background-color: #F2F2F2;
  border: 1px solid #D9D9D9;
}

.bottom-bar-button {
  position: relative;
  float: right;
  margin-left: auto;
  margin-right: 0%;
  height: 50%;
  width: 10%;
  background-color: #F2F2F2;
  border: 1px solid #D9D9D9;
}

#center-area {
  position: relative;
}

#center-left {
  width: 25%;
  height: 100%;
  position: relative;
}

#message-box {
  width: 100%;
  height: 10%;
}

#message-input {
  resize: none;
  height: 100%;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Noto Sans', sans-serif;
}

#messages-window {
  width: 100%;
  height: 75%;
  overflow-y: scroll;
  word-wrap: break-word;
  border: 1px solid #D9D9D9;
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-width: 0px;
}

#userslist {
  width: 100%;
  height: 13%;
  overflow-y: scroll;
  position: absolute;
  bottom: 0;
}

#track-queue {
  position: absolute;
  right: 0;
  top: 0;
  left: 25%;
  width: 75%;
  height: 100%;
  border: 1px solid #D9D9D9;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  overflow-y: scroll;
}

.track-view {
  position: relative;
  margin: 0 auto;
  width: 95%;
  background-color: #DDDDDD;
  margin-bottom: 2px;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;

  /* make sure you can't accidentally highlight
   * the buttons */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.track-title {
  margin-left: 10px;
  width: 30%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  display: inline-block;
}

.track-album {
  margin-left: 10px;
  width: 20%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  display: inline-block;
}

.track-artist {
  margin-left: 10px;
  width: 20%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  display: inline-block;
}

.track-uploader {
  margin-left: 10px;
  width: 25%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  display: inline-block;
}

.track-delete-button {
  width: 5%;
}

#progress-track {
  margin: auto;
  position: relative;
  width: 50%;
  height: 5%;
  padding-top: 2%;
}

#progress-track-bar-display {
  display: block;
  width: 100%;
  border: none;
  background-color: #FFFFFF;
  position: relative;
  padding: 0px;
}

.track-bar {
  display: inline-block;
  height: 1px;
  width: 100%;
  border: none;
  position: absolute;
  left: 0px;
}

.bar-tracker {
  width: 1px;
  height: 1px;
  background-color: #00FF00;
}

.track-ball-display {
  border-radius: 50%;
  background-color: #96C8E9;
  position: relative;
}


#volume-bar-display {
  display: block;
  width: 100%;
  border: none;
  background-color: #FFFFFF;
  position: relative;
  padding: 0px;
}

#upload-slots {
  height: 0%
}

#volume {
  position: relative;
  margin: auto;
  width: 20%;
  height: 5%;
}

.message-username {
  color: #898781;
}

.message-content {
  color: #000000;
}
