@import url(//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,latin-ext);

.data-element {
  display: none;
}

html {
  height: 100%;
}

#moomoo {
  background-color: #7E8F99;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-family: 'Noto Sans', sans-serif;
}

