#messages {
  width: 50%;
  height: 75%;
  overflow: scroll;
}

#progress-track-bar {
  display: block;
  height: 5px;
  width: 50%;
  border: none;
  background-color: #FF0000;
  position:absolute;
  left: 0px;
  padding: 0px;
}
