doctype html
html
  head
    title MooMoo
    #roomid(data!= roomid)
    link(rel="stylesheet" type="text/css" href="/css/style.css")
    script(src="https://cdn.socket.io/socket.io-1.3.6.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")
    script(src="/vendor/socket.io-stream.js")
    script(src="/vendor/soundmanager2-jsmin.js")
    script(src="/vendor/uuid.js")
  body
    #top-bar.top-bottom-bars
      #current-track-tags
      #progress-track
      #player-buttons
        #restart-button.player-button
        #previous-track-button.player-button
        #play-pause-button.player-button
        #next-track-button.player-button
        #loop-button.player-button

      button#invite-friends-button.top-bar-button Invite Friends
      input#file-upload(type="file")
      button#file-upload-input.top-bar-button(onclick="document.getElementById('file-upload').click();") Add Music

    #center-area
      #username-form
      #center-left
        #messages-window
        #message-box
        #userslist
      #track-queue
        #playlist
        #download-progress
        #users-upload-progress

    #bottom-bar.top-bottom-bars
      #volume

    script(src="/js/moomoo-frontend.js")
