doctype html
html
  head
    title MooMoo
    link(rel="stylesheet" type="text/css" href="/css/style.css")
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script(src="/vendor/socket.io-stream.js")
    script(src="/vendor/soundmanager2-jsmin.js")
    script(src="/vendor/uuid.js")
    script(src="/vendor/base64-arraybuffer.js")
    script(src="/vendor/spark-md5.min.js")
    script(src="/vendor/md5-file.js")

  body
    #roomid.data-element(data!= roomid)
    #lastfm-key.data-element(data!= lastfmkey)
    #allowed-file-extensions.data-element(data!= allowedfileextensions)
    #max-upload-slots.data-element(data!= maxuploadslots)
    #default-upload-slots.data-element(data!= defaultuploadslots)

    #moomoo

    script(src="/js/moomoo-frontend.js")
