head
  title MooMoo
  #roomid(data!= roomid)
  link(rel="stylesheet" type="text/css" href="/css/style.css")
  script(src="https://cdn.socket.io/socket.io-1.3.5.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(src="/vendor/socket.io-stream.js")
  script(src="/vendor/soundmanager2-jsmin.js")
  script(src="/vendor/bar-ui.js")
html
  body(style="width=100%; height=100%;")
    #messages-window
    #message-form
    #username-form
    input#file_upload_input(type="file")
    #progress
    #users-upload-progress
    #userslist
    #music-player
      span#play-button
      span#pause-button
      #progress-track
        hr#progress-track-bar
        #progress-track-ball

    #track-queue
    script(src="/js/moomoo-frontend.js")
