head
  title MooMoo
  #roomid(data!= roomid)
  link(rel="stylesheet" type="text/css" href="/css/style.css")
  script(src="https://cdn.socket.io/socket.io-1.3.5.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(src="/vendor/socket.io-stream.js")
html
  body(style="width=100%; height=100%;")
    #messages-window
    form#message_form(action="")
      input#m(autocomplete="off")
      button Send
    #username-form
    input#file_upload_input(type="file")
    #progress
    #userslist
    audio#audio-tag(controls autoplay)
      source#current-track(type="audio/mp3" src="f")
    script(src="/js/moomoo-frontend.js")
