head
  title MooMoo
  #roomid(data!= roomid)
  script(src="https://cdn.socket.io/socket.io-1.3.5.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(src="/vendor/socket.io-stream.js")
html
  body
    #messages(style="width: 500px; height: 500px; overflow: scroll")
    form#message_form(action="")
      input#m(autocomplete="off")
      button Send
    form#username_form(action="")
      input#username(type="text", autocomplete="off", value="Enter Name")
      button Join
    input#file_upload_input(type="file")
    #progress
    #userslist
    audio#audio-tag(controls autoplay)
      source#current-track(type="audio/mp3" src="f")
    script(src="/js/moomoo-frontend.js")
